# PostgreSQL
POSTGRES_USER=dictionary
POSTGRES_PASSWORD=dictionary123
POSTGRES_DB=dictionary
POSTGRES_PORT=5432

# API
API_PORT=3001
DATABASE_URL=postgresql://dictionary:dictionary123@localhost:5432/dictionary

# Front
NEXT_PUBLIC_API_URL=http://localhost:3001
